*{
	box-sizing: border-box;
	/* border: 1px red solid; */
}

body {
	background-color: #f6f7f79c;
}

ul {
	list-style-type: none;
	padding: 0;
}


.container {
	margin: auto;
}

.search {
	padding: 20px;
	background-color: aqua;
}

.results {
	padding: 20px;
}

.site {
	padding: 20px;
}

.site>h2{
	margin-top: 0;
}

.search>h2 {
	margin-top: 0;
}


/* typography */

h2, p {
	font-family: arial, sans-serif;
}