*{
	box-sizing: border-box;
}

body {
	background-color: #f6f7f79c;
}

.container {
	margin: 2% 12%;
}

ul {
	list-style-type: none;
	padding: 0;
}

/* typography */

h2, p {
	font-family: arial, sans-serif;
}